:root{
    --FuentePrincipal:'Overpass', sans-serif;
    /* Primario */
    --Orange: hsl(25, 97%, 53%);
    /*Neutral*/
    --White: hsl(0, 0%, 100%);
    --LightGrey: hsl(217, 12%, 63%);
    --MediumGrey: hsl(216, 12%, 54%);
    --DarkBlue: hsl(213, 19%, 18%);
    --VeryDarkBlue: hsl(216, 12%, 8%);

    /*Fuente*/
    --FontSize:15px;
}


html{
    box-sizing: border-box;
}
*,*:before,*::after{
    box-sizing: inherit;
}

.body{
    background-color: var(--VeryDarkBlue);
    font-family: var(--FuentePrincipal);
    font-size: var(--FontSize);
    display: flex;
    flex-direction: column;
    min-width: 400px;
}

h1{
    color: var(--White);    
    font-size: 25px ;
    font-weight: bold;
    letter-spacing: 1px;
}
.container{
    border-radius: 20px 20px 20px 20px;
    background-color: var(--DarkBlue);
    max-width: 330px;
    height: 350px;
    margin: 10% auto;
    padding: 20px;
}
.flexColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

} 

.card_picture{
    background-color: hsl(216, 12%, 54%,0.2);
    border-radius: 30px;
    padding: 10px 10px;
    margin: 10px;
}
.description{
    color: var(--LightGrey);
    font-size: 12px;
    line-height: 1.5;
}

.container_ratings{
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    margin:20px 0;
    
}

.rating{
    padding: 10px 15px;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
    background-color: hsl(216, 12%, 54%,0.2);
    color: var(--MediumGrey);
}

.rating--hover{
    background-color: var(--MediumGrey);
    color: var(--White);
}

.rating--active{
    background-color:   var(--Orange);
    color:var(--White);
}   


.submit{
    background-color: var(--Orange);
    width: 100%;
    border-radius: 30px;
    padding: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--White);
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
}

.submit:hover{
    background-color: var(--White);
    color: var(--Orange);
}

.attribution{
    color: var(--White);
    font-size: var(--FontSize);
}


.thankyou--picture{
    margin: 10px auto;
    justify-content: center;
}
.thankyou--rate{
    display: flex;
    flex-direction: row;
    color:hsl(25, 97%, 53%,0.7);
    background-color: hsl(216, 12%, 54%,0.2);
    padding: 5px 10px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    
}

.thankyou--title{
    font-weight: normal;
    margin: 10px auto;
}

.thankyou--description{
    margin: 0 10px;
    display: flex;
    text-align: center;    
    color:var(--LightGrey);
    font-size: 12px;
}


.no-display{
    display: none;
}
